* {
    /* background-color: #DCEFC1; */
    text-align: center;
}
.ajudar {
    display: block;
    align-items: center;
}
.enquadramento {
    background-color: white;
    border-width: 20px;
    border-radius: 18px;
}

