* {
    /* background-color: #DCEFC1; */
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}
.card {
    background-color: #d4c1ef;
}
body{
    background-color: #dcefc1;
}
p{
    font-size: 16px;
}
.enquadramento {
    /* background-color: white; */
    border-width: 50px;
    border-radius: 18px;
    border: 5px solid #d4c1ef;
    padding: 30px;
    background-color:#fff;
    margin: 7%;
}
h3{

    font-size: 16px;
}
.card-text {
    font-size: 12px;
}
@media(min-width: 450px){
    .card-text{
        font-size: 12px;
        padding-top: 7px;
    }
   }
   @media(min-width: 500px){
    .card-text{
        font-size: 14px;
        padding-top: 10px;
    }
   }
   @media(min-width: 550px){
    .card-text{
        font-size: 16px;
        padding-top: 13px;
    }
   }
   @media(min-width: 600px){
    .card-text{
        font-size: 16px;
        padding-top: 20px;
    }
   }
   @media(min-width: 650px){
    .card-text{
        font-size: 16px;
        padding-top: 30px;
    }
   }
   @media(min-width: 700px){
    .card-text{
        font-size: 16px;
        padding-top: 40px;
    }
   }